DUMMY1
DUMMY2
DUMMY3

logs
__pycache__
.ipynb_checkpoints
.*.swp

*.pth

build
*.c
*.zip
monotonic_align/monotonic_align

.vscode
.DS_Store
*.wav


cv-corpus-5.1-2020-06-22
tts_utils
datasets
./*__pycache__